body {
    display: grid;
    grid-template-columns: 700px auto;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#board {
    position: relative;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    position: absolute;
    display: inline;
    background-color: lightcoral;
}

#menu {
    background-color: yellow;
}